.App {
  margin-right: 10%;
  margin-left: 10%;
  min-width: 100vw;
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}
.Title {
  font-size: 7rem;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.body {
  font-size: 2rem;
}
.col-12 {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 4rem;
  font-size: 2rem;
  color: black;
}
